@charset "UTF-8";

html{
    font-size: 100%;
    font-family: NanumGothic, "나눔고딕";
}

/*===========Color codes 
Navy to white { #053742, #39A2DB, #A2DBFA, #E8F0F2 }
Navy to skyblue { #1A374D, #406882, #6998AB, #B1D0E0 }
Red to yellow { #9D0B0B, #DA2D2D, #EB8242, #F6DA63 }
============*/

/*===========기본 CSS ============*/
h1, h2 {
    font-family: 'Hahmlet';
}
header {
    font-family: 'Hahmlet';
    font-size: 2 rem;
}
body { 
    line-height: 1.5;
    text-align: center;
}
a {
    text-decoration: none;
    color: #406882;
}
a:hover {
    color: #39A2DB;
}
image {
    max-width: 100%;
}
.container{
    position: relative; 
    width: 70%; 
    margin-bottom: 1.5rem;
}

.logo {
    width: 200px;
    margin-top: 20px;   
}
.page-header {
    display: flex;
    justify-content: space-between;
}
.wrapper {
    max-width: 1500px;
    margin: 0 25px;
    padding: 5px 5%; 
    align-items: flex-end; 
}

/*============ nav menu =============*/
.main-nav {
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 30px;
    list-style: none;
}
.main-nav li {
    margin-left: 35px;
}
.main-nav a {
    color: #1A374D;
}
.main-nav a:hover {
    color: #39A2DB;
}

/*============ home content =============*/
.home-content {
    text-align: center;
    margin-top: 15%;
}
.home-content p {
    font-size: 1.25rem;
    margin: 10px 0 50px;
}
.page-title {
    font-size: 2 rem;
    font-family: 'Hahmlet';
    font-weight: bold;
}
.button {
    font-size: 1.5 rem;
    background:#1A374D;
    color: #fff;
    border-radius: 5px;
    padding: 15px 30px;
}
.button:hover {
    background: #39A2DB;
}

/*============== home div ================*/
.bgImage {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
#home {
    background-image: url(./images/coverPage_medium.png);
    min-height: 100vh;
}

/*============= footer ===============*/
footer {
    background-color: #1A374D;
    text-align: ceter;
    padding: 25px 0;   
    align-items: flex-end; 
}
footer p{ 
    color: #fff;
    font-size: 0.8rem;
}

article {
    width: 70%;
}
aside {
    width: 20%;
    margin-top: 10%;
}

/*===========info===========*/
#info {
    background-image: url(./images/HeadImage.png);
    height: 200px;
    margin-bottom: 30px;
    align-items: flex-end;
}
#info .page-title{
    text-align: center;
}

.info-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    text-align: center;
}

.post-info {
    position: relative;
    padding-top: 3px;
    margin-bottom: 30px;
}
.post-title{
    font-family: 'Hahmlet';
    font-size: 1.8rem;
    font-weight: strong;
    align-items: center;
    color: #1A374D;
}
.post-date {
    color: #406882;
    font-size: small;
}
div p {
    margin-bottom: 1.5rem;
}

/*========aside nav==========*/
aside {
    align-content: flex-start;
    position: fixed;
    top: 20%;
    left: 70%;
}
.sub-title{
    font-family: 'Hahmlet';
    font-size: 1.2rem;
    padding: 0 8px 8px;
    border-bottom: 2px #39A2DB solid;
    font-weight: normal;
}
aside p {
    padding: 10px 10px;
    font-size: 0.7em;
}
.sub-list{
    margin-bottom: 70px;
    font-size: 0.7em;
    list-style: none;
    color: #1A374D;
    padding: 10px;
    display: block;
}
.sub-list li{
    border-bottom: 2px #B1D0E0 solid;
    margin-bottom: 10px;
}
.sub-list a:hover {
    color: #39A2DB;
}

/*=======Topic========*/
.post-topic {
    align-content: center;
    font-size: 1.5rem;
    margin-left: 3px;
    margin-right: 3px;
}
table, tr, td {
    border-color: #406882;
    align-content: space-between;
}
td p{
    font-size: 0.8rem;
    margin: 3px 0 0 3px;
    text-align: left;
}

/*========= Country ========*/
.capture {
    position: center;
    
}